.tile {
    display: inline-flex;
}

.grass {
    background-color: #fff59d;
}


.rock {
    background-image: url("/src/images/boulder1.png");
}

.tree {
    background-image: url("/src/images/trees.png");
}

.signpost {
    background-image: url("/src/images/signpost32px.png");
}